fastapi
uvicorn
sqlalchemy
psycopg2-binary
langchain
langchain-community
langchain-text-splitters
langchain-openai
pgvector
python-multipart
sse-starlette
pypdf
python-dotenv
pydantic-settings
fastembed
